D:\SAVES\PROYECTOS\C#\Password Manager\bin\Debug\net6.0-windows\Newtonsoft.Json.dll
D:\SAVES\PROYECTOS\C#\Password Manager\bin\Debug\net6.0-windows\Password Manager.deps.json
D:\SAVES\PROYECTOS\C#\Password Manager\bin\Debug\net6.0-windows\Password Manager.dll
D:\SAVES\PROYECTOS\C#\Password Manager\bin\Debug\net6.0-windows\Password Manager.exe
D:\SAVES\PROYECTOS\C#\Password Manager\bin\Debug\net6.0-windows\Password Manager.pdb
D:\SAVES\PROYECTOS\C#\Password Manager\bin\Debug\net6.0-windows\Password Manager.runtimeconfig.json
D:\SAVES\PROYECTOS\C#\Password Manager\bin\Debug\net6.0-windows\adfga.txt
D:\SAVES\PROYECTOS\C#\Password Manager\bin\Release\net6.0-windows\Newtonsoft.Json.dll
D:\SAVES\PROYECTOS\C#\Password Manager\bin\Release\net6.0-windows\Password Manager.deps.json
D:\SAVES\PROYECTOS\C#\Password Manager\bin\Release\net6.0-windows\Password Manager.dll
D:\SAVES\PROYECTOS\C#\Password Manager\bin\Release\net6.0-windows\Password Manager.exe
D:\SAVES\PROYECTOS\C#\Password Manager\bin\Release\net6.0-windows\Password Manager.pdb
D:\SAVES\PROYECTOS\C#\Password Manager\bin\Release\net6.0-windows\Password Manager.runtimeconfig.json
